/target
/docs/dist
/docs/.astro
/docs/node_modules
/benchmark/.cache/
/benchmark/benchmark-output/
__pycache__/
.codex
.claude/
.amp/
.agents/skills/
.bifrost/
bifrost_searchtools/*.so

.mjolnir
.idea
.vscode/
**/.DS_Store
/licenses/THIRD_PARTY_LICENSES.html
